*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
width: 100vw;
height: 100vh;
background-color: lightgreen;
border: 1px solid green;
}
.text h1{
font-size: 35px;
text-align: center;
margin-top: 200px;
margin-left: 150px;
margin-right: 150px;
}
.block{
height: 250px;
width: 950px;
border: 2px solid black;
background-color: darkgreen;
border-radius: 10px;
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 auto;
}
.col{
flex-basis: 50%;
text-align: center;

}
.col label{
font-size: 15px;
font-weight: 500;
margin-bottom: 10px;
color: #fff;
display: block;
}
.col input{
width: 150px;
height: 30px;
background-color: white;
border-radius: 5px;
text-align: center;

}